# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.venv/
venv/
/env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & Models
*.pkl
*.h5
*.pt
*.pth
*.ckpt
*.npy
*.npz
data/raw/
data/processed/
/logs/
runs/
wandb/
mlruns/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env
